.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/libraries/Maven__commons_codec_commons_codec_1_1.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
modules/cleanser/cleanser.iml
modules/modules.iml
predictor.iml

.idea/uiDesigner.xml

.idea/libraries/Maven__commons_codec_commons_codec_1_6.xml

.idea/libraries/Maven__net_sf_opencsv_opencsv_2_0.xml

modules/cleanser/target/classes/org.wso2.carbon.ml.predictor.Cleanser.class

modules/cleanser/target/classes/doublemetaphone/DoubleMetaphoneUtility.class

modules/cleanser/target/classes/doublemetaphone/MetaphoneUtility.class

modules/cleanser/target/classes/doublemetaphone/PreProcessor.class

modules/cleanser/target/cleanser-1.0.0.jar

modules/cleanser/target/maven-archiver/pom.properties

modules/cleanser/target/classes/Soundex.class

modules/cleanser/target/classes/Soundex.class

modules/cleanser/target/classes/Cleanser.class
